.profile_text{
    font-size: 1.5rem;
    font-weight: 600;
    color: black;
    margin-top: 50px;
    margin-bottom: 10px;
    font-family: 'Cinzel Decorative', cursive;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-in-out;
}
